

/* --- General settings --- */
html * {
    font-size: 1.2rem;
    color: #333;
}

/* Added default settings to headers because bootstrap stylesheet was removing them */

h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 { 
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: #666;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.logotype {
    max-width: 100%;
    border: solid #888;
    border-radius: 5px;
}

.top-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    flex-grow: 1;
}

.favorites-cart *:hover {
    color: #666;
}


.toplinks {
    display: flex;
    gap: 1rem;
    margin: 1rem;
    flex-direction: column;
    font-weight: bold;
}

/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    border: 5px solid #888;
    padding: 1rem;
    border-radius: 5px;
    gap: 1rem;
    margin: 1rem;
    background-color: #ccc;
    text-align: center;
}

.hero:hover {
    border: 5px solid #999;
}

.hero * {
    flex-grow: 1;
}


/* Spots */
.spot-container {
    display: none;
}

.spot {
    position: relative;
    border: 5px solid #888;
    border-radius: 5px;
    flex: 1;
}
.spot img {
    width: 100%;
}

.spot-text {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.spot-text p {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.spot:hover {
    border: 5px solid #999;
}

/* Products */
.product-container {
    display: grid;
    position: relative;
    gap: 1rem;
    margin: 1rem;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    display: flex;
    position: relative;
}

.product {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 5px solid #888;
    padding: 1rem;
    border-radius: 5px;
    gap: 1rem;
    flex-wrap: wrap;
}

.product:hover {
    border: 5px solid #999;
}

.product img {
    width: 100%;
}

.product-info {
    display: flex;
    justify-content: space-between;
}

.product span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 60%;
    
}

.info-icons-container {
    display: grid;
}

.info-icons-container * {
    margin: 1rem 0;
    padding: 1rem;
    gap: 1rem;
    text-align: center;
    font-size: 1.2rem;    
}


/* Footer */
footer {
    text-align: center;
    margin: 1em 0;
}

.footer-nav {
    display: none;
}
.accordion * {
    font-size: large;
}

/* --- Breakpoint settings --- */
@media (min-width: 640px) {

    html * {
        font-size: 1rem;
    }

    header {
        flex-direction: row;
    }

    .toplinks {
        flex-direction: row;
    }


    .hero {
        flex-direction: column;
    }

    .product-container {
        grid-template-columns: 1fr 1fr;
    }
 
    .info-icons-container {
        grid-template-columns: 1fr 1fr;
    }

    footer {
    border: solid #888;
    border-radius: 5px;
    background-color: #ddd;

    }

    .footer-nav {
        display: contents;
        display: flex;
        gap: 20%;
        margin: 3rem;
        text-align: left;
    }


    .accordion {
        display: none;
    }

}

@media (min-width: 1024px) {

    .hero {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .spot-container {
        display: contents;
        display: flex;
        justify-content: center;
        margin: 1rem;
        gap: 1rem;
    }

    .product-container {
        grid-template-columns:repeat(4, 1fr);
    }
    
    .info-icons-container {
        grid-template-columns: repeat(4, 1fr);
    }

}

/* --- Other class specific settings --- */

/* Search bar */

.search-container {
    flex: 1;
}

.search-container input[type=text] {
    padding: 5px;
    border: solid #ddd;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-left: -5px;
    width: 75%;
}

.search-container button {
    padding: 5px;
    background: #ddd;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.search-container button:hover {
    background: #ccc;
}