/* --- Breakpoint settings --- */
@media (max-width: 640px) {
    header {
        flex-direction: column;
    }

    .toplinks {
        flex-direction: column;
    }

    .hero {
        flex-direction: column;
    }

    .spot {
        visibility: collapse;
    }

    .footer-nav {
        visibility:collapse
    }

}

@media (min-width: 640px) {
    header {
    }
    
    .toplinks {
        flex-direction: row;
    }

    .logotype {
    }

    footer {
        background-color: #ddd;
    }

    .hero {
        flex-direction: column;
    }

    .spot {
        visibility: collapse;
    }

    footer {
    border: solid #888;
    border-radius: 5px;
    }

    .accordion {
        visibility: collapse;
    }


}

@media (min-width: 1024px) {
    header {
    }

    .logotype {
    }

    .toplinks {
    }

    footer {
    }

    .hero {
        flex-direction: row-reverse;
    }

    .spot {
        visibility: visible;
    }
}

/* --- General settings --- */

/* Header */
header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logotype {
    max-width: 350px;
    border: solid #888;
    border-radius: 5px;
}

.top-bar {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #666;
}

.toplinks {
    display: flex;
    gap: 10px;
    margin: 10px;
}

/* Hero */
.hero   {
    display: flex;
    border: 5px solid #888;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    margin: 10px 0;
    background-color: #ccc;
}

/* Spots */
.spot-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.spot  {
    border: 5px solid #888;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    margin: 10px 0;
}

.spot img {
    width: 100%;
}

/* Products */
.product-container {
    display: grid;
    gap: 10px;
}

.product  {
    border: 5px solid #888;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    margin: 10px 0;
}

/* Footer */
footer {
    text-align: center;
    margin: 10px 0;
    padding: 10px;
}

.footer-nav {
    display: flex;
    gap: 100px;
    flex-direction: row;
    margin: 30px;
    text-align: left;
}

.footer-ul {
    list-style-type: none;
    margin: 0;
    padding: 10% 0;
}

.footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10% 0;
}

.footer-ul li {
    margin: 10px 0;
}

/* --- Class specific settings --- */

/* Search bar */
.search-container input[type=text] {
    padding: 6px;
    border: solid #ddd;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    float: right;
}

.search-container button {
    float: left;
    padding: 5px;
    background: #ddd;
    font-size: 1rem;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.search-container button:hover {
    background: #ccc;
}